.container-fluid {
    padding: 0!important;
    height: 100vh;
}

.card {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.list-group {
    overflow: auto;
}

.list-group-item {
    background-color: inherit!important;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: rgb(75, 75, 75)!important;
}

#fileSelector {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}