.container-fluid {
    padding: 0!important;
    height: 100vh;
}

.card {
    z-index: 999!important;
    height: 100vh!important;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.card-header {
    display: flex;
    justify-content: space-between;
    line-height: .8;
}

.list-group {
    overflow: auto;
}

.list-group-item {
    background-color: inherit!important;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: rgb(75, 75, 75)!important;
}