.container-fluid {
    padding: 0!important;
    height: 100vh;
}

#toggleFileSelectorOut {
    position: absolute;
    top: 15px;
    z-index: 999!important;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding: 0px 8px;
}

.card {
    z-index: 999!important;
    height: 100vh!important;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.card-header {
    display: flex;
    justify-content: space-between;
    line-height: .8;
}

.tree {
    overflow: auto;
}

.jstree-node:hover {
    background-color: rgba(0, 0, 0, .2);
}

.list-group {
    overflow: auto;
}

.list-group-item {
    background-color: inherit!important;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: rgb(75, 75, 75)!important;
}